@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.topnav a:hover {
  border-bottom: 3px solid red;
}

.App {
  background-color: rgb(255, 230, 179);
  position: relative;
  min-height: 100vh;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: rgb(255, 230, 179) !important;
}
.contact {
  padding: 4%;
  height: 400px;
}
.col-md-3 {
  background: #ffc107;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: rgb(255, 230, 179);
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}

footer .copyright {
  padding: 15px 0;
  background: #ffc107;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}

footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
